body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0, 0.8);
    text-align: center;
    color: antiquewhite;
}

.menu {
    display: flex;
    flex-direction: column; /* Muda para coluna */
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    position: absolute;
    right: 10px; /* Ajusta a posição à direita */
    top: 10px;
    background-color: rgb(0, 0, 0, 0.8);
    border-radius: 50%;
}
#openMenuBtn{
    color: transparent;
    background-color: transparent;
    border: none;
}
#openMenuBtn i{
    color: antiquewhite;
    font-size: 1.5rem;
}
.modal {
    position: fixed;
    left:30%;
    top: 15%;
    width: 40%;
    color: rgb(50, 13, 1);
    display: none;
    flex-direction: column;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.item{
    text-align: center;
    cursor:pointer;
    margin: 0.2rem;
    padding: 0 1rem;
    border-radius: 4px;
    color: rgb(50, 13, 1);
    background-color: rgba(50, 13, 1, 0.01);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.item img{
    width: 60px;
    height: 60px;
}
.item button{
    border: none;
    color:rgb(50, 13, 1);
    background-color: transparent;
    font-size: 1.2rem;
    font-weight: 700;
}

a {
    color: antiquewhite;
    text-decoration: none;
    font-weight: 600;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(imagens/logo_devecoffee.jpg) center/cover no-repeat fixed;
    z-index: -1;
    filter: blur(50px) brightness(0.3);
    background-color: rgb(0, 0, 0);
}

.profile-image {
    border-radius: 50%;
    overflow: hidden;
    width: 150px;
    height: 150px;
    margin: 20px auto;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

figure {
    margin: 0;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 8px;
    margin: 20px auto;
    padding: 20px;
    max-width: 90%;
    width: 600px;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    background-color: rgb(50, 13, 1);
    border-radius: 8px;
    padding: 5px;
    overflow: hidden;
    width: 100%;
    transition: 0.5s;
}

.link:hover {
    transform: scale(1.1);
    background-color: antiquewhite;
    cursor: pointer;
}

.link:hover a{
    color: rgb(50, 13, 1)
}

.link img {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
}

.link a {
    color: antiquewhite;
    flex-grow: 1;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    opacity: 1;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* fundo semitransparente */
    display: none; /* escondido por padrão */
    justify-content: center;
    align-items: center;
    z-index: 9; /* garantir que fique acima de outros elementos */
}
#closeModal{
    margin-top: 1rem;
    border: none;
    color: antiquewhite;
    background-color: rgb(88, 23, 1);
    font-weight: 700;
    font-size: 1rem;
    padding: 1.1rem 0;
    border-radius: 4px;
}

.bi-share-fill{
    color: transparent;
}